/* header */
.header {
  display: flex;
  background-color: rgb(247, 248, 251);
  border-bottom: 1px solid rgb(233, 232, 232);
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.logoSearchView {
  display: flex;
  align-items: center;
}

.socioSpace {
  color: #0f549e;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.headerSearch {
  all: unset;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid rgb(183, 183, 183);
  padding: 0 10px;
  height: 30px;
  width: 70%;
  margin-left: 20px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.navBar a {
  text-decoration: none;
}

.notificationWrapper {
  position: relative;
}

.notificationBtn {
  all: unset;
  cursor: pointer;
}

.notificationNumber {
  background-color: #121213;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  margin-top: -3px;
  margin-left: 3px;
  position: absolute;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userName {
  font-size: 20px;
  font-weight: bold;
}

.logOutIcon {
  color: #007bff;
  cursor: pointer;
}
