body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#authenticated-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.usersWrapper {
}

/* header */
#header {
  display: flex;
  background-color: rgb(247, 248, 251);
  border-bottom: 1px solid rgb(233, 232, 232);
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.logo_search_view {
  display: flex;
  align-items: center;
}

#socioSpace {
  color: #0f549e;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

#headerSearch {
  all: unset;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid rgb(183, 183, 183);
  padding: 0 10px;
  height: 30px;
  width: 70%;
  margin-left: 20px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.navBar a {
  text-decoration: none;
}

#userProfile {
  display: flex;
  align-items: center;
  gap: 16px;
}

#userName {
  font-size: 20px;
  font-weight: bold;
}

#logOutIcon {
  color: #007bff;
  cursor: pointer;
}

/* main */
.main {
  display: flex;
  padding: 20px;
  gap: 10rem;
}

#unauthenticated-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* forms */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50vh;
}

.form input {
  padding: 20px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* login form */
.LoginBtn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.LoginBtn:hover {
  background-color: #0056b3;
}

.createBtn {
  align-self: center;
  background-color: #4bd621;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  width: 60%;
}

.createBtn:hover {
  background-color: #3fb01c;
}

.forgotBtn {
  color: #007bff;
  align-self: center;
  cursor: pointer;
}

.separator {
  background-color: #d0d0d0;
  margin: 16px 0;
  height: 1px;
  width: 100%;
}

/* sign up form  */
.sign-up-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.SignUpBtn {
  align-self: center;
  background-color: #4bd621;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  width: 60%;
}

.SignUpBtn:hover {
  background-color: #3fb01c;
}

.closeBtn {
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 4px 10px;
  background-color: #5a6268;
}

.closeBtn:hover {
  background-color: #b7bbbe;
}

/* Auth error message */
.auth-error-message {
  color: rgb(134, 22, 22);
  font-weight: bold;
  font-size: 14px;
}

.users-list {
  position: relative;
  background-color: #111020;

  min-height: 65vh;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: scroll;
}

.registered-user {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;

  justify-content: space-between;

  width: 100%;

  display: flex;
  gap: 15px;
}

.add-friend-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  padding: 0px 8px 0px 8px;

  transition: all 0.3s;
}

.add-friend-button:hover {
  background-color: #0056b3;
}

#notificationWrapper {
  position: relative;
}

#notificationBtn {
  all: unset;
  cursor: pointer;
}

#notification_number {
  background-color: #121213;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  margin-top: -3px;
  margin-left: 3px;
  position: absolute;
}

/* Modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* notification modal content */
#notificationModalContent {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  border-radius: 6px;
  margin: 15% auto;
  padding: 0 20px;
  border: 1px solid #888;
  height: 40%;
  width: 30%;
}

#notific_ModalContent_Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* The close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.friendRequestCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(234, 234, 234);
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 10px;
}

#confirmBtn {
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #3fb01c;
  color: white;
}
