body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

/* login form */
.login-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input {
  padding: 20px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.LoginBtn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.LoginBtn:hover {
  background-color: #0056b3;
}

.createBtn {
  align-self: center;
  background-color: #4bd621;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  width: 60%;
}

.createBtn:hover {
  background-color: #3fb01c;
}

.forgotBtn {
  color: #007bff;
  align-self: center;
  cursor: pointer;
}

.separator {
  background-color: #d0d0d0;
  margin: 16px 0;
  height: 1px;
  width: 100%;
}

/* sign up form  */
.sign-up-form .sign-up-btn {
  background-color: #28a745;
  color: white;
}

.sign-up-form .sign-up-btn:hover {
  background-color: #218838;
}

.sign-up-form .login-btn {
  background-color: #6c757d;
  color: white;
}

.sign-up-form .login-btn:hover {
  background-color: #5a6268;
}
