.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 20px 50px;
  overflow: hidden;
}

.usersListContainer {
  background-color: #a4afc4;
  border-radius: 6px;
  height: calc(100vh - 12rem);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  width: 300px;
}

.friendsContainer {
  background-color: #a4afc4;
  border-radius: 6px;
  height: calc(100vh - 12rem);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  width: 300px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.friendsCard {
  all: unset;
  border: 1px solid rgb(225, 224, 224);
  border-radius: 8px;
  background-color: #e0eefd;
  width: 230px;
  padding: 10px 10px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.indicator{
  width:10px;
  height:10px;
  border-radius: 2.5px;
}

.messageIcon{
  height: 30px
}
.messageAndActive{
  display: flex;
  align-items: center;
  gap: 4px;

}



