<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social App</title>
    <link rel="stylesheet" href="style/style.css" />
  </head>

  <body>
    <div class="main">
      <div style="display: none" id="authenticated-content">
        <div id="header">
          <div id="userProfile">
            <div id="userName"></div>
            <img id="logoutIcon" src="<%= logOutImage %>" alt="logout" />
            <!-- <img id="logoutIcon" src="assets/log-out.png" alt="logout" /> -->
            <!-- <button id="logoutBtn">log out</button> -->
          </div>
        </div>
      </div>

      <div style="display: none" id="unauthenticated-content">
        <div id="login-form">
          <form class="form">
            <h2>Log in</h2>
            <input
              id="loginEmail"
              type="email"
              name="email"
              placeholder="email"
              required
            />

            <input
              id="loginPassword"
              type="password"
              name="password"
              placeholder="Password"
              required
            />

            <button id="LoginBtn" type="button" class="LoginBtn">Login</button>
            <div class="separator"></div>

            <button type="button" class="createBtn" id="createAccountBtn">
              Create Account
            </button>
          </form>
        </div>

        <div class="sign-up-form" id="sign-up-form" style="display: none">
          <form class="form">
            <div class="sign-up-header">
              <h2>Sign Up</h2>

              <button
                type="button"
                class="closeBtn"
                id="closeRegistrationFormBtn"
              >
                X
              </button>
            </div>

            <input
              id="reg-username"
              type="text"
              name="username"
              placeholder="Username"
              required
            />
            <input
              id="reg-password"
              type="password"
              name="password"
              placeholder="Password"
              required
            />

            <input
              id="reg-email"
              type="email"
              name="email"
              placeholder="Email"
              required
            />
            <button type="button" id="sign-up-button" class="SignUpBtn">
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>

    <script>
      window.userData = {
        authenticated: "<%= authenticated %>",
        username: "<%= username %>",
      };
    </script>

    <script type="module" src="./js/bundle.js"></script>
  </body>
</html>
