.registeredUserCard {
  display: flex;
  align-items: center;
  border: 1px solid rgb(225, 224, 224);
  border-radius: 8px;
  background-color: #e0eefd;
  padding: 10px 10px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  justify-content: space-between;
  width: 16rem;
  display: flex;
  gap: 15px;
}

.addFriendButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  padding: 0px 10px;
  transition: all 0.3s;
}

.addFriendButton:hover {
  background-color: #0056b3;
}

/* Styles for the disabled button */
.addFriendButtonDisabled {
  background-color: #d3d3d3;
  color: #a9a9a9;
  cursor: not-allowed;
}
.indicator{
  width:10px;
  height:10px;
  border-radius: 2.5px;
}
.menu{
  display: flex;
  align-items: center;
  gap: 4px;
}
