.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50vh;
}

.form input {
  padding: 20px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* login form */
.loginBtn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.loginBtn:hover {
  background-color: #0056b3;
}

.createBtn {
  align-self: center;
  background-color: #4bd621;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  width: 60%;
}

.createBtn:hover {
  background-color: #3fb01c;
}

.separator {
  background-color: #d0d0d0;
  margin: 16px 0;
  height: 1px;
  width: 100%;
}

.authErrorMessage {
  color: rgb(134, 22, 22);
  font-weight: bold;
  font-size: 14px;
}
